@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.testimon{
  background-color: $primary-color;
  width:100%;
}
.sec{
  margin-left: 35%;
}
#n{
  margin-top: 10px;
}
.access{
  margin-left: 35%;
}
#gift{
  margin-top: 20px;
  margin-left: 20%;
}
#h2{
  margin-left: 4%;
}
.education{
  border: 2px solid $secondary-color;
  padding: 5px 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  &:hover{
    box-shadow: 3px 3px $primary-color;
  }
}
.hunger{
  border: 2px solid $secondary-color;
  padding: 5px 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  &:hover{
    box-shadow: 3px 3px $primary-color;
  }
}
.health{
  border: 2px solid $secondary-color;
  padding: 5px 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  &:hover{
    box-shadow: 3px 3px $primary-color;
  }
}
.sponsor{
  background-color: $secondary-color;
  width: 100%;
  justify-content: center;
  padding-left: 45%;
}
h4{
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}
.together{
  margin-left: 35%;
  margin-top: 30px;
}
// .project{
//   margin-left: -60%;
// }
.clean{
  display: flex;
  gap: 30px;

  margin-top: 30px;
  justify-content: center;
}



  // MEDIA QUARIES
  @media screen and (max-width: 600px){
    .what-abt{
      h3{
        font-size: 20px;
        p{
          font-size: 3px;
        }
      }
    }
    
    .wrapper{
      width: 100%;
        flex-direction: column;
    }
  }