@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.testimon{
  background-color: $primary-color;
  width:100%;
}

.sponsor{
  background-color: $secondary-color;
  width: 100%;
  justify-content: center;
  padding-left: 45%;
}
h4{
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}
.together{
  margin-left: 35%;
  margin-top: 30px;
}



  // MEDIA QUARIES
  @media screen and (max-width: 600px){
    .what-abt{
      h3{
        font-size: 20px;
        p{
          font-size: 3px;
        }
      }
    }
    
    .wrapper{
      width: 100%;
        flex-direction: column;
    }
  }