@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;



.menu-content{
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 2em
}

.dishes{
    @include flex(center,center);
    gap:250px;
    padding-top:30px;
    // margin-right:7%;
    border-bottom: 3px solid orange;
    

}
ul{
    li{
        cursor: pointer;
        color: white;
        &:hover{
            color:$primary-color
        }
    }
}
.hr{
    width:100%;
    margin-left: 2%;
}
.menu-container{
    width:90%;
    margin:0 auto
}

// #img{
    
//     // border:2px solid $black;
    
// }

.btn-add{
//     margin-top: 2em;
//   margin-bottom: 2em;
//   background:transparent;
background:rgba(0,0,0,0.4);
  color:wheat;
  border:2px solid $primary-color;
  cursor: pointer;
  padding: 3px 10px ;
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
  &:hover{
    background-color:wheat;
    color:black;
    border: 2px solid $black;
  }
}

.icon{
   justify-content: center;
   align-items: center;
   text-align: center;
    padding-top:10px ;
    
}
.fa-star{
    color:$black;
    cursor: pointer;
    &:hover{
        color: $primary-color;
    }
}
// #p{
//     margin-right: 45%;
//     padding-top: 20px;
// }
.about-content{
    @include flex(space-between, center);
    // gap:50px;
    :hover{
        transform: translate(0, -10%);
    }
}
 .about-items{
margin-top: 1em;
     
}

#paragraph{
   margin-bottom: 10px;
   margin-top: 10px;
   color: white;
}
.header{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#i{
    color:$primary-color
}
.pr{
 align-items: center;
 text-align: center;
 justify-content: center;
 margin-bottom: 1em;
}
.about-section{
align-items: center;
justify-content: center;
text-align: center;
text-align: center;

    
}
#p{
    justify-content: center;
   align-items: center;
   text-align: center;
   padding-top:20px ;
   color: white;
}

#all{
    border-bottom: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    // border-radius: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.4);
    cursor: pointer;

}


// MEDIA QUARIES

@media screen and (max-width: 600px){
    #all{
        width: 227.5px;
        flex-direction: column;
        // padding-left: -500%;

    }

    .about-content{
        width: 100%;
         flex-direction: column;  
        // images/patrick-schneider-5xltWMpkN3E-unsplash.jpg;
    }

    .dishes{
        font-size: 10px;
        gap:25px

    }

    .header{
        font-size: 20px;
    }

    #paragraph{
        font-size: 13px;
    }

    

    }