@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.todo-container{
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
// h1{
//     margin-bottom: 20px;
// }
input{
    width: 80%;
    padding: 10px;
}