@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.todo-container{
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
// h1{
//     margin-bottom: 20px;
// }
input{
    width: 80%;
    padding: 10px;
    border: 2px solid $secondary-color;
}
li{
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    align-items: center;
    display: flex;
    border: 2px solid red;
    margin: 5px 0;
}
li button{
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    &:hover{background-color: green;}
}